<a href="https://colab.research.google.com/github/QuinAmii/-content-Queen-Echerenwa-Data-Science-Assignment/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
#Read dataset
insurance = pd.read_csv('/content/insurance (1).csv')
insurance.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [7]:
insurance.tail

<bound method NDFrame.tail of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [5]:
print(insurance.dtypes)
print(insurance.describe())
print(insurance.info())

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object
               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

In [6]:
insurance.shape

(1338, 7)

In [8]:
#checking for null values 
insurance.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
import pandas as pd

In [11]:
duplicate = insurance[insurance.duplicated(keep = 'first')]
print("duplicated rows :")  #No duplicate ditcated.

duplicated rows :

In [12]:

duplicate = insurance[insurance.duplicated(['age', 'region'])]
print ("Duplicate Rows based on 'age' and region :") #No duplicate dictated.

Duplicate Rows based on 'age' and region :

In [30]:
ranked = insurance.sort_values (by= ["age",], ascending=False)

In [18]:
ranked

      age     sex     bmi  children smoker     region      charges
335    64    male  34.500         0     no  southwest  13822.80300
603    64  female  39.050         3     no  southeast  16085.12750
752    64    male  37.905         0     no  northwest  14210.53595
1265   64    male  23.760         0    yes  southeast  26926.51440
534    64    male  40.480         0     no  southeast  13831.11520
...   ...     ...     ...       ...    ...        ...          ...
942    18  female  40.185         0     no  northeast   2217.46915
46     18  female  38.665         2     no  northeast   3393.35635
295    18    male  22.990         0     no  northeast   1704.56810
50     18  female  35.625         0     no  northeast   2211.13075
648    18    male  28.500         0     no  northeast   1712.22700

[1338 rows x 7 columns]

In [33]:
ranked.head

<bound method NDFrame.head of       age     sex     bmi  children smoker     region      charges
335    64    male  34.500         0     no  southwest  13822.80300
603    64  female  39.050         3     no  southeast  16085.12750
752    64    male  37.905         0     no  northwest  14210.53595
1265   64    male  23.760         0    yes  southeast  26926.51440
534    64    male  40.480         0     no  southeast  13831.11520
...   ...     ...     ...       ...    ...        ...          ...
942    18  female  40.185         0     no  northeast   2217.46915
46     18  female  38.665         2     no  northeast   3393.35635
295    18    male  22.990         0     no  northeast   1704.56810
50     18  female  35.625         0     no  northeast   2211.13075
648    18    male  28.500         0     no  northeast   1712.22700

[1338 rows x 7 columns]>