<a href="https://colab.research.google.com/github/QuinAmii/-content-Queen-Echerenwa-Data-Science-Assignment/blob/main/Week_2_Assignment_Contd_Queen_Echerenwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Working with a range funtion
my_range = range(3, 15)
list(my_range)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
import numpy as np

In [5]:
list1 = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
array1 = np.array(list1)

print(array1)

[ 3  4  5  6  7  8  9 10 11 12 13 14]

In [8]:
print ("Data type = " + str(array1.dtype))
print ("Array type = " + str(type(array1)))

Data type = int64
Array type = <class 'numpy.ndarray'>

In [11]:
import numpy as np

In [12]:
#Convert 1d array to list
array1 = np.array([3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
print(f'NumPy Array:\n{array1}')

list1 = array1.tolist()
print(f'List: {list1}')

NumPy Array:
[ 3  4  5  6  7  8  9 10 11 12 13 14]
List: [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]