<a href="https://colab.research.google.com/github/QuinAmii/-content-Queen-Echerenwa-Data-Science-Assignment/blob/main/Week_2_Assignment_Queen_Echerenwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [2]:
print ("numpy version: " + np.version.version)

numpy version: 1.19.5

In [3]:
print ("pandas version " + pd.__version__)
#pip install pandas =1.1.12

pandas version 1.1.5

In [4]:
mymatrix = [[2, 3, 4], [8, 9, 10], [11, 12, 13]]
mymatrix

[[2, 3, 4], [8, 9, 10], [11, 12, 13]]

In [7]:
#Create a matrix (2D array)
numpy_array = np.array(mymatrix)

In [8]:
numpy_array

array([[ 2,  3,  4],
       [ 8,  9, 10],
       [11, 12, 13]])

In [9]:
type(numpy_array)

numpy.ndarray

In [10]:
#Convert a Numpy Array into a Pandas Data Frame
df_from_array = pd.DataFrame(numpy_array)
df_from_array

    0   1   2
0   2   3   4
1   8   9  10
2  11  12  13