<a href="https://colab.research.google.com/github/QuinAmii/-content-Queen-Echerenwa-Data-Science-Assignment/blob/main/Week_4_Assignment_Queen_Echerenwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#What is Percentile?
 #It is a value on a scale of 100 that indicates the percent of a distribution that is equal to or below it

In [ ]:
#Percentile Example
#for example, the 70th percentile on the 2013 GRE was 156. That means if you scored 156 on the exam, your score was better than 70 percent of test takers.

In [91]:
arr = [50, 80, 40, 15, 20]
print("75th percentile of arr : ",
       np.percentile(arr, 70))

print ("90th percentile of arr :",
       np.percentile(arr, 90))

75th percentile of arr :  48.0
90th percentile of arr : 68.0

In [ ]:
import numpy as np
import pandas as pd

In [63]:
df=pd.read_csv('/Weight-Height - weight-height (1).csv')

df.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971110
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676

In [64]:
df.isnull().sum()

Gender    0
Height    1
Weight    2
dtype: int64

In [65]:
df = df.fillna('0')
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [67]:
#Repalce with pandas method
df["Gender"].replace({"Male": "Female"}, inplace=True)
print(df)

      Gender   Height   Weight
0     Female   73.847  241.894
1     Female  68.7819   162.31
2     Female  74.1101  212.741
3     Female   71.731  220.042
4     Female  69.8818   206.35
...      ...      ...      ...
9995  Female  66.1727  136.777
9996  Female  67.0672  170.868
9997  Female   63.868  128.475
9998  Female  69.0342  163.852
9999  Female  61.9442  113.649

[10000 rows x 3 columns]

75th percentile of arr :  50.0

In [ ]:
#Download red wine dataset into colab
df=pd.read_csv('/winequality-red.csv')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
#Display first 10 rows
df.head(10)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [ ]:
#Ramdomly display five first rows
df.sample(5)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1467            6.7              1.04         0.08  ...       0.57     11.0        4
514            10.5              0.51         0.64  ...       0.66     11.8        7
1289            7.0              0.60         0.30  ...       1.17     10.2        5
1559            7.8              0.60         0.26  ...       0.52      9.9        5
162             7.8              0.53         0.04  ...       0.56     10.0        6

[5 rows x 12 columns]

In [ ]:
#Dispaly column names
data = pd.read_csv("/winequality-red.csv") 
list(data.columns)

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [ ]:
#info and describe method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
#Checking missing values
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
#Non missing if it was we would fill in with "df.fillna('')"